Source: purple-vk-plugin
Section: net
Priority: optional
Maintainer: Oleg Andreev <olegoandreev@yandex.ru>
Build-Depends: debhelper (>= 8.0.0), cmake, libpurple-dev, libxml2-dev, zlib1g-dev
Standards-Version: 3.9.3
Homepage: http://bitbucket.org/olegoandreev/purple-vk-plugin

Package: purple-vk-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: vk.com messaging protocol for pidgin
 purple-vk-plugin is a Pidgin plugin, which adds support for chatting
 via Vk.com social network.
